<!DOCTYPE html>
<html>
    <head>
        <title>Bug Example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>User</h1>
        <p>{{ @user.name }} {{ @user.email }}</p>
        <h2>Children</h2>
    <repeat group="@user->findChildren()" value="@child">
        <p>{{ @child.name }} {{ @child.email }}</p>
    </repeat>
    <h3>DB.log()</h3>
    <pre style="border-style: solid; ">{{ @db->log() }}</pre>
</body>
</html>
